.navContainer{
	display: flex;
	width: 100vw;
	height: 60px;
	background: #080810;
}
nav{
	display: flex;
  align-items: center;
  justify-content: space-between;
  
  margin: 0 4px 0 2px;
  background: #080810;
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 1000;
}
.logoContainer{
	margin-left: 10px;
}
.logo{
	font-family: sans-serif;
	font-size: 26px;
	color: white;
	justify-content: center;

}

.navList{
  position: fixed;
  top: 60px;
  right: -100%;        /* hidden by default */
  width: 100vw;
  height: 300px;
  background: #0e1320d1;
  backdrop-filter: blur(8px);
  display: flex;
  padding-bottom: 10px;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  transition: right 0.4s ease;
  z-index: 999;
}
.navList.open {
  right: 0;
}
.listItem{
	font-family: sans-serif;
	font-size: 18px;
	margin-left: 20px;
	color: whitesmoke;
	list-style: none;
	cursor: pointer;
}
.listItem:hover{
	color:#25D1F5;
}
.HireBtn{
	
	height: 20px;
	background-color: #25D1F5;
	text-align: center;
	font-family: sans-serif;
	font-size: 18px;
	color: #000;
	cursor: pointer;
	padding: 10px 0 10px 0 ;
	margin: 0 20px 0 20px;
	border: none;
	list-style: none;
	border-radius: 6px;
	transition: 0.3s ease-in-out;

}
.HireBtn:hover{
	box-shadow: 0 0 20px#25D1F5;
}
.harmMenu{
	margin-right: 10px;
}
.menuIcon {
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

.menuIcon:hover{
	color: #25D1F5;
}